<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmenon.mpo.player">
    <application>
        <activity android:name="com.vmenon.mpo.player.view.activity.MediaPlayerActivity"
            android:theme="@style/AppThemeNoActionBar"/>
    </application>
</manifest>