<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmenon.mpo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MPOApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activity.ShowSearchResultsActivity" />
        </activity>
        <activity
            android:name=".activity.ShowSearchResultsActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/show_searchable" />
        </activity>
        <activity
            android:name=".activity.ShowDetailsActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <service
            android:name=".core.BackgroundService"
            android:exported="false" />

        <receiver android:name=".core.receiver.AlarmReceiver" />
        <receiver
            android:name=".core.receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.DownloadsActivity"
                  android:label="@string/downloads">

        </activity>
    </application>

</manifest>