<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.vmenon.mpo.player.framework">
    <application>
        <service android:name="com.vmenon.mpo.player.framework.MPOMediaBrowserService" >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>
    <dist:module
        dist:instant="false"
        dist:title="@string/title_player_framework">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>
